@middleWidth: 80%;
@halfWidth: 50%;
.marginAuto{
	margin: 0px auto;
}

h2{
	text-align:center;
}
.content{
	width: 100%;
	height: 100%;
	.img-box{
		width: calc(@halfWidth - 20px);
		height: 400px;
		.marginAuto;
		margin-bottom: 10px;
		border: 1px solid #ececec;
		padding: 10px;
		box-shadow: inset 0 0 4px;
		.img{
			height: 100%;
			background: url("../images/health.jpg") no-repeat center;
			background-size: 100%;
			&.active{
				background: url("../images/unhealth.jpg") no-repeat center;
			}
		}
		
		&::before{}
		&::after{}
	}
	.health-box{
		width: @halfWidth;
		height: 10px;
		border: 1px solid #900;
		.marginAuto;
		.health-status{
			width: 100%;
			height: 100%;
			background-color: #900;
		}
	}
	.opteraion-box{
		width: @halfWidth;
		height: 50px;
		.marginAuto;
		padding: 10px 0px;
		text-align: center;
		clear: both;
		overflow: hidden;
		.btn{
			cursor: pointer;
			padding: 10px;
			font-size: 16px;
			margin-left: 20px;
			line-height: 24px;
			text-align: center;
			float: left;
			border: 1px solid #aaa;
			box-shadow: 2px 2px 4px #acacac;
		}
	}
}